<div> 
  <div> <h2> Forgot your password? </h2> </div>

  <div id="formRestPassword">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, "Enter email to send reset password instructions: " %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div id="resetPassword" class="actions">
        <%= f.submit "Send" %>
      </div>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
