

  <div class="gamescallout" >
    <h1> List of Games: </h1>
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="width: 196px;"> #</th>
          <th style="width: 300px;"> Game Name</th>
          <th style="width: 300px;"> Links</th>
        </tr>
      </thead>
      <tbody>
        <% number = 0 %>
        <% if !@games.nil? %>
          <%@games = (@games.sort_by { |a| a.name }) %>
          <% @games.each do |game| %>
            <tr>
              <td><%= number += 1 %></td>
              <td><%= link_to game.name, "/games/#{game.id}" %></td>

              <!-- if current user exists -->
              <% if current_user %>
                <% if current_user.playing?(game) %>
                  <td>Joined! </td>

                  <td><%= link_to("Leave", resign_game_path(game.id), method: "post") %></td>
                <% else %>

                  <td><%= link_to("Join", join_game_path(game.id), method: "post") %></td>
                  <td></td>
                <% end %>
              <% else %>
              <td></td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= render 'form' %>
  </div>
