<!DOCTYPE html>
<html>
  <head>
    <title>Checkers</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </head>

  <body>

    <ul>
      <% if user_signed_in? %>
      <%= current_user.first_name %> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <% if current_user.admin? %>
          <%= link_to "Admin Section", admin_path %>
        <% end %>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %>
      <% end %>
    </ul>

    <%= yield %>
  </body>
</html>
